button {
	border: 1px solid black;
	background-color: blue;
	height: 46px;
	width: 166px;
	font-size: 20px;
}

button:hover {
	background-color: green;
}

a {
	text-decoration: none;
	color: black;
}

form {
	background-color: cyan;
	width: 360px;
	padding: 10px;
}

p {
	background-color: cyan;
	width: 500px;
}

h1,label,p,button {
	font-family: "Commic Sans MS", sans-serif;
}

body {
	background-color: red;
}